#post_metabox .form-table tr:nth-of-type(6) .at-field .at-label {
  display: inline-block;
  margin-bottom: 0;
}

#post_metabox .form-table tr:nth-of-type(7) .at-field {
  padding: 0 0 0 30px;
}

#product_metabox .form-table tr:nth-of-type(5) .at-field .at-label {
  display: inline-block;
  margin-bottom: 0;
}

#product_metabox .form-table tr:nth-of-type(6) .at-field {
  padding: 0 0 0 30px;
}

#tt-vc-map {
  height: 400px;
}

#tt-search-map {
  top: 9px !important;
  padding: 10px;
  width: 50%;
  min-width: 15px;
}

.pac-container {
  z-index: 999999;
}

#tt-remove-markers {
  background: #FF5252;
  display: inline-block;
  padding: 0 10px;
  top: 9px !important;
  height: 35px;
  line-height: 35px;
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
  margin-left: 10px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: center;
  overflow: hidden;
}

#tt-remove-markers:hover {
  background: #EF5350;
}

.tt_map_settings {
  display: none;
}

.at-field .at-label {
  display: inline-block;
  margin-right: 10px;
}

.layout-style .tt_option_title ~ label {
	display: inline-block;
	width: 140px;
	height: 110px;
	background: #ffffff;
	margin: 31px;
	border: solid 1px #dcdcdc;
	border-radius: 3px;
	position: relative;
	overflow: hidden;
	-webkit-box-shadow: inset 0 20px 0 #eeeeee, inset 0 40px 0 #f8f8f8, inset 0 60px 0 #eeeeee, inset 0 80px 0 #f8f8f8, inset 0 100px 0 #eeeeee;
	box-shadow: inset 0 20px 0 #eeeeee, inset 0 40px 0 #f8f8f8, inset 0 60px 0 #eeeeee, inset 0 80px 0 #f8f8f8, inset 0 100px 0 #eeeeee;
}

.layout-style .tt_option_title ~ label > span {
	position: absolute;
	bottom: 0px;
	background: #25282F;
	display: block;
	color: #C0B26E;
	left: 0px;
	right: 0px;
	text-align: center;
	line-height: 24px;
	z-index: 1000;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.layout-style .tt_option_title ~ label > input {
	display: none;
}

.layout-style .tt_option_title ~ label > input:checked + span {
	top: 1px;
	background: rgba(149,66,58, 0.3);
	border: solid 1px #95372B;
	color: #95372B;
	line-height: 800%
}

.layout-style .tt_option_title + label + label:after,
.layout-style .tt_option_title + label + label:before {
	content: '';
	display: block;
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 20%;
	background: #adadad;
}

.layout-style .tt_option_title + label + label:before {
	left: 0px;
	border-right: 1px solid #666666;
}

.layout-style .tt_option_title + label + label:after {
	right: 0px;
	border-left: 1px solid #666666;
}

.tt_content_box,
.tt_admin .tt_content .tt_content_box .tt_content_box_content .tt_option_title span {
	background: #fefefe !important;
}

.tt_admin .tt_content .tt_content_box .tt_content_box_content .tt_option_title {
	line-height: 2px !important;
}

.tt_box {
	padding: 12px 0 !important;
}

.tt_content_box .tt_box {
  padding: 0 !important;
}

.tt_explain {
	background: #f4fff2;
	padding: 11px 11px 11px 22px;
	border: 1px solid #dcebd9;
	border-left: 3px solid #707B5B;
}

.tt_box_full {
	width: 98%;
}

.tt_show_logo {
	height: 112px;
	position: relative;
}

.tt_admin .tt_button {
	margin-bottom: 32px !important;
}

.tt_show_logo > img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.wp-picker-container {
	position: relative;
	padding: 10px 0;
}

.wp-picker-input-wrap {
	position: absolute;
	width: auto !important;
}

.tt_admin .wp-picker-holder {
	top: 46px;
}

.wp-picker-container input[type=text].wp-color-picker {
	padding: 3px 2% !important;
	
}

.wp-picker-container input[type=text].wp-color-picker + input {
	position: absolute;
	top: 0;
	right: -50%;
}

.identity-helper {
	background: red;
}

.tt_content_box input[type=email],
.tt_content_box input[type=number],
.tt_content_box input[type=password],
.tt_content_box input[type=search],
.tt_content_box input[type=tel],
.tt_content_box input[type=text],
.tt_content_box input[type=url],
.tt_content_box select,
.tt_content_box textarea {
	box-shadow: none !important;
}

.tt_admin .tt_content .tt_content_box .tt_content_box_content .tt_option_title {
	margin-bottom: 22px !important;
}

.tt_admin .tt_content .tt_content_box .tt_content_box_title {
	background: none !important;
	border-bottom: none !important;

}

.tt_admin .tt_content .tt_content_box .tt_content_box_bottom {
	background: none !important;
}

.tt_admin .tt_content .tt_submit {
	background: #2655A1 !important;
	box-shadow: none !important;
	padding: 8px 15px 10px !important;
}

.mini-input {
	width: 24% !important;
}

.tt_box_mini {
	width: 22% !important;
	padding: 12px 1% !important;
}

.identity-helper .remove_img {
	margin-bottom: 72px !important
}

.icons-container {
	max-height: 144px;
	overflow-y: scroll;
}

.icon-grid {
	overflow: hidden;
}

.icon-grid > li {
	width: 5%;
	float: left;
	text-align: center;
	font-size: 1.5em;
	padding: 1px;
	line-height: 1em;
	-webki-box-sizing: border-box;	
	-moz-box-sizing: border-box;	
	box-sizing: border-box;	
}

.icon-grid > li input[type=radio] {
	display: none;
}

.icon-grid > li i {
	padding: 3px;
	display: block;
	border: 1px solid #ededed;
}

.icon-grid > li input[type=radio]:checked + i {
	border-color: #2EA2CC;
	color:  #2EA2CC !important;
	background: #f8f8f8;
}

#slide_options .inside > fieldset,
#slide_options .tesla-option-container {
	background: none !important;
}

#slide_options fieldset>select, #slide_options .tesla-option-container>select:not([name]) {
	background: #f8f8f8 !important;
	border-color: #eeeeee !important;
	border-radius: 0 !important;
	color: #333333 !important;
}

.electra_widget_ads img {
	max-width: 100%;
	height: auto;
}

.electra_widget_template {
	display: none;
}

.font-3x {
	font-size: 3em;
}

.form-table td.at-field {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

#hotelia_room_price {
  width: 100px;
}

/* Meta box */

.custom-meta {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.custom-meta .input-label {
	display: block;
}

.custom-meta  .wp-picker-container {
	padding-bottom: 0;
}

.custom-meta input[type=text] {
	width: 100%;
	max-width: 350px;
}

.icon-picker {
	max-height: 100px;
	overflow-y: auto;
	width: 100%;
}

.icon-picker input[type=radio] {
	display: none;
}

.icon-picker label i {
	display: inline-block;
	max-width: 50px;
	width: 12.5%;
	height: 30px;
	border: 1px solid #dedede;
	font-size: 1.3em;
	text-align: center;
	line-height: 30px;
	margin: 1px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.icon-picker label i:hover {
	background-color: #ededed;
}

.icon-picker label input[type=radio]:checked + i {
	background-color: #00aef0;
	color: #ffffff;
}

.picker-title {
	display: inline-block;
	margin-bottom: 5px;
	position: relative;
}

.picker-title i {
	background-color: #00aef0;
	color: #ffffff;
	padding: 5px;
	font-size: 1.4em;
	margin-right: 5px;
}

.picker-title span {
	color: #f00;
	vertical-align: bottom;
}

.picker-title span > input {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.picker-title span > input:checked  {
	display: none;
}

.picker-title span > input:checked ~ * {
	display: none;
}

.picker-title .icon-0 {
	display: none;
}

.input-sep {
	margin-bottom: 1em;
}

.meta-checkbox {
  position: relative;
}

.meta-checkbox label {
  padding-left: 27px;
}

.meta-checkbox input[type=checkbox] {
  position: absolute;
  top: 5px;
  left: 0;
}

.tt_option_title  {
  margin-top: 22px !important;
}

/* Image picker */

.image-picker {
  cursor: pointer;
}

.image-picker img {
  max-width: 100%;
  height: auto;
}

.remove-img, .image-picker span {
  color: #0073aa;
  text-decoration: underline;
  margin-top: 15px;
  display: inline-block;
  cursor: pointer;
}

.portfolio-switcher {
  display: none;
}

.at-field .at-label {
  display: block;
}

.postbox .at-field input, 
.postbox .at-field textarea {
  max-width: 500px;
  max-height: 110px;
}

.postbox .at-field input {
  max-width: 500px
}

/* Icon picker */
@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?kwiq0k');
    src:    url('../fonts/icomoon.eot?kwiq0k#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?kwiq0k') format('truetype'),
        url('../fonts/icomoon.woff?kwiq0k') format('woff'),
        url('../fonts/icomoon.svg?kwiq0k#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    display: inline-block;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-roundedarrowleft:before {
    content: "\e937";
}
.icon-roundedarrowright:before {
    content: "\e938";
}
.icon-video-icon:before {
    content: "\e936";
}
.icon-interface-circlerighttrue:before {
    content: "\e930";
}
.icon-interface-cmdcommand:before {
    content: "\e931";
}
.icon-mail3:before {
    content: "\e932";
}
.icon-media-clipvideofilm:before {
    content: "\e933";
}
.icon-phone4:before {
    content: "\e934";
}
.icon-shoppingbag:before {
    content: "\e935";
}
.icon-heart2:before {
    content: "\e900";
}
.icon-cloud2:before {
    content: "\e901";
}
.icon-star2:before {
    content: "\e902";
}
.icon-tv2:before {
    content: "\e903";
}
.icon-sound:before {
    content: "\e904";
}
.icon-video:before {
    content: "\e905";
}
.icon-trash2:before {
    content: "\e906";
}
.icon-user2:before {
    content: "\e907";
}
.icon-key2:before {
    content: "\e908";
}
.icon-search2:before {
    content: "\e909";
}
.icon-settings:before {
    content: "\e90a";
}
.icon-camera2:before {
    content: "\e90b";
}
.icon-tag2:before {
    content: "\e90c";
}
.icon-lock2:before {
    content: "\e90d";
}
.icon-bulb:before {
    content: "\e90e";
}
.icon-pen:before {
    content: "\e90f";
}
.icon-diamond2:before {
    content: "\e910";
}
.icon-display:before {
    content: "\e911";
}
.icon-location:before {
    content: "\e912";
}
.icon-eye2:before {
    content: "\e913";
}
.icon-bubble:before {
    content: "\e914";
}
.icon-stack:before {
    content: "\e915";
}
.icon-cup:before {
    content: "\e916";
}
.icon-phone2:before {
    content: "\e917";
}
.icon-news:before {
    content: "\e918";
}
.icon-mail:before {
    content: "\e919";
}
.icon-like:before {
    content: "\e91a";
}
.icon-photo2:before {
    content: "\e91b";
}
.icon-note:before {
    content: "\e91c";
}
.icon-clock:before {
    content: "\e91d";
}
.icon-paperplane:before {
    content: "\e91e";
}
.icon-params:before {
    content: "\e91f";
}
.icon-banknote:before {
    content: "\e920";
}
.icon-data:before {
    content: "\e921";
}
.icon-music2:before {
    content: "\e922";
}
.icon-megaphone:before {
    content: "\e923";
}
.icon-study:before {
    content: "\e924";
}
.icon-lab:before {
    content: "\e925";
}
.icon-food:before {
    content: "\e926";
}
.icon-t-shirt:before {
    content: "\e927";
}
.icon-fire2:before {
    content: "\e928";
}
.icon-clip:before {
    content: "\e929";
}
.icon-shop:before {
    content: "\e92a";
}
.icon-calendar2:before {
    content: "\e92b";
}
.icon-wallet:before {
    content: "\e92c";
}
.icon-vynil:before {
    content: "\e92d";
}
.icon-truck2:before {
    content: "\e92e";
}
.icon-world:before {
    content: "\e92f";
}
.icon-mobile2:before {
    content: "\e000";
}
.icon-laptop2:before {
    content: "\e001";
}
.icon-desktop2:before {
    content: "\e002";
}
.icon-tablet2:before {
    content: "\e003";
}
.icon-phone3:before {
    content: "\e004";
}
.icon-document:before {
    content: "\e005";
}
.icon-documents:before {
    content: "\e006";
}
.icon-search3:before {
    content: "\e007";
}
.icon-clipboard2:before {
    content: "\e008";
}
.icon-newspaper:before {
    content: "\e009";
}
.icon-notebook:before {
    content: "\e00a";
}
.icon-book-open:before {
    content: "\e00b";
}
.icon-browser:before {
    content: "\e00c";
}
.icon-calendar3:before {
    content: "\e00d";
}
.icon-presentation:before {
    content: "\e00e";
}
.icon-picture:before {
    content: "\e00f";
}
.icon-pictures:before {
    content: "\e010";
}
.icon-video2:before {
    content: "\e011";
}
.icon-camera3:before {
    content: "\e012";
}
.icon-printer:before {
    content: "\e013";
}
.icon-toolbox:before {
    content: "\e014";
}
.icon-briefcase2:before {
    content: "\e015";
}
.icon-wallet2:before {
    content: "\e016";
}
.icon-gift2:before {
    content: "\e017";
}
.icon-bargraph:before {
    content: "\e018";
}
.icon-grid:before {
    content: "\e019";
}
.icon-expand2:before {
    content: "\e01a";
}
.icon-focus:before {
    content: "\e01b";
}
.icon-edit2:before {
    content: "\e01c";
}
.icon-adjustments:before {
    content: "\e01d";
}
.icon-ribbon:before {
    content: "\e01e";
}
.icon-hourglass2:before {
    content: "\e01f";
}
.icon-lock3:before {
    content: "\e020";
}
.icon-megaphone2:before {
    content: "\e021";
}
.icon-shield2:before {
    content: "\e022";
}
.icon-trophy2:before {
    content: "\e023";
}
.icon-flag2:before {
    content: "\e024";
}
.icon-map2:before {
    content: "\e025";
}
.icon-puzzle:before {
    content: "\e026";
}
.icon-basket:before {
    content: "\e027";
}
.icon-envelope2:before {
    content: "\e028";
}
.icon-streetsign:before {
    content: "\e029";
}
.icon-telescope:before {
    content: "\e02a";
}
.icon-gears2:before {
    content: "\e02b";
}
.icon-key3:before {
    content: "\e02c";
}
.icon-paperclip2:before {
    content: "\e02d";
}
.icon-attachment:before {
    content: "\e02e";
}
.icon-pricetags:before {
    content: "\e02f";
}
.icon-lightbulb:before {
    content: "\e030";
}
.icon-layers:before {
    content: "\e031";
}
.icon-pencil2:before {
    content: "\e032";
}
.icon-tools:before {
    content: "\e033";
}
.icon-tools-2:before {
    content: "\e034";
}
.icon-scissors2:before {
    content: "\e035";
}
.icon-paintbrush:before {
    content: "\e036";
}
.icon-magnifying-glass:before {
    content: "\e037";
}
.icon-circle-compass:before {
    content: "\e038";
}
.icon-linegraph:before {
    content: "\e039";
}
.icon-mic:before {
    content: "\e03a";
}
.icon-strategy:before {
    content: "\e03b";
}
.icon-beaker:before {
    content: "\e03c";
}
.icon-caution:before {
    content: "\e03d";
}
.icon-recycle2:before {
    content: "\e03e";
}
.icon-anchor2:before {
    content: "\e03f";
}
.icon-profile-male:before {
    content: "\e040";
}
.icon-profile-female:before {
    content: "\e041";
}
.icon-bike:before {
    content: "\e042";
}
.icon-wine:before {
    content: "\e043";
}
.icon-hotairballoon:before {
    content: "\e044";
}
.icon-globe2:before {
    content: "\e045";
}
.icon-genius:before {
    content: "\e046";
}
.icon-map-pin2:before {
    content: "\e047";
}
.icon-dial:before {
    content: "\e048";
}
.icon-chat:before {
    content: "\e049";
}
.icon-heart3:before {
    content: "\e04a";
}
.icon-cloud3:before {
    content: "\e04b";
}
.icon-upload2:before {
    content: "\e04c";
}
.icon-download2:before {
    content: "\e04d";
}
.icon-target:before {
    content: "\e04e";
}
.icon-hazardous:before {
    content: "\e04f";
}
.icon-piechart:before {
    content: "\e050";
}
.icon-speedometer:before {
    content: "\e051";
}
.icon-global:before {
    content: "\e052";
}
.icon-compass2:before {
    content: "\e053";
}
.icon-lifesaver:before {
    content: "\e054";
}
.icon-clock2:before {
    content: "\e055";
}
.icon-aperture:before {
    content: "\e056";
}
.icon-quote:before {
    content: "\e057";
}
.icon-scope:before {
    content: "\e058";
}
.icon-alarmclock:before {
    content: "\e059";
}
.icon-refresh2:before {
    content: "\e05a";
}
.icon-happy:before {
    content: "\e05b";
}
.icon-sad:before {
    content: "\e05c";
}
.icon-facebook2:before {
    content: "\e05d";
}
.icon-twitter2:before {
    content: "\e05e";
}
.icon-googleplus:before {
    content: "\e05f";
}
.icon-rss2:before {
    content: "\e060";
}
.icon-tumblr2:before {
    content: "\e061";
}
.icon-linkedin2:before {
    content: "\e062";
}
.icon-dribbble2:before {
    content: "\e063";
}
.icon-eye3:before {
    content: "\e064";
}
.icon-paper-clip:before {
    content: "\e065";
}
.icon-mail2:before {
    content: "\e066";
}
.icon-toggle:before {
    content: "\e067";
}
.icon-layout:before {
    content: "\e068";
}
.icon-link2:before {
    content: "\e069";
}
.icon-bell2:before {
    content: "\e06a";
}
.icon-lock4:before {
    content: "\e06b";
}
.icon-unlock2:before {
    content: "\e06c";
}
.icon-ribbon2:before {
    content: "\e06d";
}
.icon-image2:before {
    content: "\e06e";
}
.icon-signal2:before {
    content: "\e06f";
}
.icon-target2:before {
    content: "\e070";
}
.icon-clipboard3:before {
    content: "\e071";
}
.icon-clock3:before {
    content: "\e072";
}
.icon-watch:before {
    content: "\e073";
}
.icon-air-play:before {
    content: "\e074";
}
.icon-camera4:before {
    content: "\e075";
}
.icon-video3:before {
    content: "\e076";
}
.icon-disc:before {
    content: "\e077";
}
.icon-printer2:before {
    content: "\e078";
}
.icon-monitor:before {
    content: "\e079";
}
.icon-server2:before {
    content: "\e07a";
}
.icon-cog2:before {
    content: "\e07b";
}
.icon-heart4:before {
    content: "\e07c";
}
.icon-paragraph2:before {
    content: "\e07d";
}
.icon-align-justify2:before {
    content: "\e07e";
}
.icon-align-left2:before {
    content: "\e07f";
}
.icon-align-center2:before {
    content: "\e080";
}
.icon-align-right2:before {
    content: "\e081";
}
.icon-book2:before {
    content: "\e082";
}
.icon-layers2:before {
    content: "\e083";
}
.icon-stack2:before {
    content: "\e084";
}
.icon-stack-2:before {
    content: "\e085";
}
.icon-paper:before {
    content: "\e086";
}
.icon-paper-stack:before {
    content: "\e087";
}
.icon-search4:before {
    content: "\e088";
}
.icon-zoom-in:before {
    content: "\e089";
}
.icon-zoom-out:before {
    content: "\e08a";
}
.icon-reply2:before {
    content: "\e08b";
}
.icon-circle-plus:before {
    content: "\e08c";
}
.icon-circle-minus:before {
    content: "\e08d";
}
.icon-circle-check:before {
    content: "\e08e";
}
.icon-circle-cross:before {
    content: "\e08f";
}
.icon-square-plus:before {
    content: "\e090";
}
.icon-square-minus:before {
    content: "\e091";
}
.icon-square-check:before {
    content: "\e092";
}
.icon-square-cross:before {
    content: "\e093";
}
.icon-microphone2:before {
    content: "\e094";
}
.icon-record:before {
    content: "\e095";
}
.icon-skip-back:before {
    content: "\e096";
}
.icon-rewind:before {
    content: "\e097";
}
.icon-play2:before {
    content: "\e098";
}
.icon-pause2:before {
    content: "\e099";
}
.icon-stop2:before {
    content: "\e09a";
}
.icon-fast-forward2:before {
    content: "\e09b";
}
.icon-skip-forward:before {
    content: "\e09c";
}
.icon-shuffle:before {
    content: "\e09d";
}
.icon-repeat2:before {
    content: "\e09e";
}
.icon-folder2:before {
    content: "\e09f";
}
.icon-umbrella2:before {
    content: "\e0a0";
}
.icon-moon:before {
    content: "\e0a1";
}
.icon-thermometer:before {
    content: "\e0a2";
}
.icon-drop:before {
    content: "\e0a3";
}
.icon-sun:before {
    content: "\e0a4";
}
.icon-cloud4:before {
    content: "\e0a5";
}
.icon-cloud-upload2:before {
    content: "\e0a6";
}
.icon-cloud-download2:before {
    content: "\e0a7";
}
.icon-upload3:before {
    content: "\e0a8";
}
.icon-download3:before {
    content: "\e0a9";
}
.icon-location2:before {
    content: "\e0aa";
}
.icon-location-2:before {
    content: "\e0ab";
}
.icon-map3:before {
    content: "\e0ac";
}
.icon-battery:before {
    content: "\e0ad";
}
.icon-head:before {
    content: "\e0ae";
}
.icon-briefcase3:before {
    content: "\e0af";
}
.icon-speech-bubble:before {
    content: "\e0b0";
}
.icon-anchor3:before {
    content: "\e0b1";
}
.icon-globe3:before {
    content: "\e0b2";
}
.icon-box:before {
    content: "\e0b3";
}
.icon-reload:before {
    content: "\e0b4";
}
.icon-share2:before {
    content: "\e0b5";
}
.icon-marquee:before {
    content: "\e0b6";
}
.icon-marquee-plus:before {
    content: "\e0b7";
}
.icon-marquee-minus:before {
    content: "\e0b8";
}
.icon-tag3:before {
    content: "\e0b9";
}
.icon-power:before {
    content: "\e0ba";
}
.icon-command:before {
    content: "\e0bb";
}
.icon-alt:before {
    content: "\e0bc";
}
.icon-esc:before {
    content: "\e0bd";
}
.icon-bar-graph:before {
    content: "\e0be";
}
.icon-bar-graph-2:before {
    content: "\e0bf";
}
.icon-pie-graph:before {
    content: "\e0c0";
}
.icon-star3:before {
    content: "\e0c1";
}
.icon-arrow-left2:before {
    content: "\e0c2";
}
.icon-arrow-right2:before {
    content: "\e0c3";
}
.icon-arrow-up2:before {
    content: "\e0c4";
}
.icon-arrow-down2:before {
    content: "\e0c5";
}
.icon-volume:before {
    content: "\e0c6";
}
.icon-mute:before {
    content: "\e0c7";
}
.icon-content-right:before {
    content: "\e100";
}
.icon-content-left:before {
    content: "\e101";
}
.icon-grid2:before {
    content: "\e102";
}
.icon-grid-2:before {
    content: "\e103";
}
.icon-columns2:before {
    content: "\e104";
}
.icon-loader:before {
    content: "\e105";
}
.icon-bag:before {
    content: "\e106";
}
.icon-ban2:before {
    content: "\e107";
}
.icon-flag3:before {
    content: "\e108";
}
.icon-trash3:before {
    content: "\e109";
}
.icon-expand3:before {
    content: "\e110";
}
.icon-contract:before {
    content: "\e111";
}
.icon-maximize:before {
    content: "\e112";
}
.icon-minimize:before {
    content: "\e113";
}
.icon-plus2:before {
    content: "\e114";
}
.icon-minus2:before {
    content: "\e115";
}
.icon-check2:before {
    content: "\e116";
}
.icon-cross:before {
    content: "\e117";
}
.icon-move:before {
    content: "\e118";
}
.icon-delete:before {
    content: "\e119";
}
.icon-menu:before {
    content: "\e120";
}
.icon-archive2:before {
    content: "\e121";
}
.icon-inbox2:before {
    content: "\e122";
}
.icon-outbox:before {
    content: "\e123";
}
.icon-file2:before {
    content: "\e124";
}
.icon-file-add:before {
    content: "\e125";
}
.icon-file-subtract:before {
    content: "\e126";
}
.icon-help:before {
    content: "\e127";
}
.icon-open:before {
    content: "\e128";
}
.icon-ellipsis:before {
    content: "\e129";
}
.icon-glass:before {
    content: "\f000";
}
.icon-music:before {
    content: "\f001";
}
.icon-search:before {
    content: "\f002";
}
.icon-envelope-o:before {
    content: "\f003";
}
.icon-heart:before {
    content: "\f004";
}
.icon-star:before {
    content: "\f005";
}
.icon-star-o:before {
    content: "\f006";
}
.icon-user:before {
    content: "\f007";
}
.icon-film:before {
    content: "\f008";
}
.icon-th-large:before {
    content: "\f009";
}
.icon-th:before {
    content: "\f00a";
}
.icon-th-list:before {
    content: "\f00b";
}
.icon-check:before {
    content: "\f00c";
}
.icon-close:before {
    content: "\f00d";
}
.icon------------------------------------------------------------------------------remove:before {
    content: "\f00d";
}
.icon------------------------------------------------------------------------------times:before {
    content: "\f00d";
}
.icon-search-plus:before {
    content: "\f00e";
}
.icon-search-minus:before {
    content: "\f010";
}
.icon-power-off:before {
    content: "\f011";
}
.icon-signal:before {
    content: "\f012";
}
.icon-cog:before {
    content: "\f013";
}
.icon------------------------------------------------------------------------------gear:before {
    content: "\f013";
}
.icon-trash-o:before {
    content: "\f014";
}
.icon-home:before {
    content: "\f015";
}
.icon-file-o:before {
    content: "\f016";
}
.icon-clock-o:before {
    content: "\f017";
}
.icon-road:before {
    content: "\f018";
}
.icon-download:before {
    content: "\f019";
}
.icon-arrow-circle-o-down:before {
    content: "\f01a";
}
.icon-arrow-circle-o-up:before {
    content: "\f01b";
}
.icon-inbox:before {
    content: "\f01c";
}
.icon-play-circle-o:before {
    content: "\f01d";
}
.icon-repeat:before {
    content: "\f01e";
}
.icon------------------------------------------------------------------------------rotate-right:before {
    content: "\f01e";
}
.icon-refresh:before {
    content: "\f021";
}
.icon-list-alt:before {
    content: "\f022";
}
.icon-lock:before {
    content: "\f023";
}
.icon-flag:before {
    content: "\f024";
}
.icon-headphones:before {
    content: "\f025";
}
.icon-volume-off:before {
    content: "\f026";
}
.icon-volume-down:before {
    content: "\f027";
}
.icon-volume-up:before {
    content: "\f028";
}
.icon-qrcode:before {
    content: "\f029";
}
.icon-barcode:before {
    content: "\f02a";
}
.icon-tag:before {
    content: "\f02b";
}
.icon-tags:before {
    content: "\f02c";
}
.icon-book:before {
    content: "\f02d";
}
.icon-bookmark:before {
    content: "\f02e";
}
.icon-print:before {
    content: "\f02f";
}
.icon-camera:before {
    content: "\f030";
}
.icon-font:before {
    content: "\f031";
}
.icon-bold:before {
    content: "\f032";
}
.icon-italic:before {
    content: "\f033";
}
.icon-text-height:before {
    content: "\f034";
}
.icon-text-width:before {
    content: "\f035";
}
.icon-align-left:before {
    content: "\f036";
}
.icon-align-center:before {
    content: "\f037";
}
.icon-align-right:before {
    content: "\f038";
}
.icon-align-justify:before {
    content: "\f039";
}
.icon-list:before {
    content: "\f03a";
}
.icon-dedent:before {
    content: "\f03b";
}
.icon------------------------------------------------------------------------------outdent:before {
    content: "\f03b";
}
.icon-indent:before {
    content: "\f03c";
}
.icon-video-camera:before {
    content: "\f03d";
}
.icon-image:before {
    content: "\f03e";
}
.icon------------------------------------------------------------------------------photo:before {
    content: "\f03e";
}
.icon------------------------------------------------------------------------------picture-o:before {
    content: "\f03e";
}
.icon-pencil:before {
    content: "\f040";
}
.icon-map-marker:before {
    content: "\f041";
}
.icon-adjust:before {
    content: "\f042";
}
.icon-tint:before {
    content: "\f043";
}
.icon-edit:before {
    content: "\f044";
}
.icon------------------------------------------------------------------------------pencil-square-o:before {
    content: "\f044";
}
.icon-share-square-o:before {
    content: "\f045";
}
.icon-check-square-o:before {
    content: "\f046";
}
.icon-arrows:before {
    content: "\f047";
}
.icon-step-backward:before {
    content: "\f048";
}
.icon-fast-backward:before {
    content: "\f049";
}
.icon-backward:before {
    content: "\f04a";
}
.icon-play:before {
    content: "\f04b";
}
.icon-pause:before {
    content: "\f04c";
}
.icon-stop:before {
    content: "\f04d";
}
.icon-forward:before {
    content: "\f04e";
}
.icon-fast-forward:before {
    content: "\f050";
}
.icon-step-forward:before {
    content: "\f051";
}
.icon-eject:before {
    content: "\f052";
}
.icon-chevron-left:before {
    content: "\f053";
}
.icon-chevron-right:before {
    content: "\f054";
}
.icon-plus-circle:before {
    content: "\f055";
}
.icon-minus-circle:before {
    content: "\f056";
}
.icon-times-circle:before {
    content: "\f057";
}
.icon-check-circle:before {
    content: "\f058";
}
.icon-question-circle:before {
    content: "\f059";
}
.icon-info-circle:before {
    content: "\f05a";
}
.icon-crosshairs:before {
    content: "\f05b";
}
.icon-times-circle-o:before {
    content: "\f05c";
}
.icon-check-circle-o:before {
    content: "\f05d";
}
.icon-ban:before {
    content: "\f05e";
}
.icon-arrow-left:before {
    content: "\f060";
}
.icon-arrow-right:before {
    content: "\f061";
}
.icon-arrow-up:before {
    content: "\f062";
}
.icon-arrow-down:before {
    content: "\f063";
}
.icon-mail-forward:before {
    content: "\f064";
}
.icon------------------------------------------------------------------------------share:before {
    content: "\f064";
}
.icon-expand:before {
    content: "\f065";
}
.icon-compress:before {
    content: "\f066";
}
.icon-plus:before {
    content: "\f067";
}
.icon-minus:before {
    content: "\f068";
}
.icon-asterisk:before {
    content: "\f069";
}
.icon-exclamation-circle:before {
    content: "\f06a";
}
.icon-gift:before {
    content: "\f06b";
}
.icon-leaf:before {
    content: "\f06c";
}
.icon-fire:before {
    content: "\f06d";
}
.icon-eye:before {
    content: "\f06e";
}
.icon-eye-slash:before {
    content: "\f070";
}
.icon-exclamation-triangle:before {
    content: "\f071";
}
.icon------------------------------------------------------------------------------warning:before {
    content: "\f071";
}
.icon-plane:before {
    content: "\f072";
}
.icon-calendar:before {
    content: "\f073";
}
.icon-random:before {
    content: "\f074";
}
.icon-comment:before {
    content: "\f075";
}
.icon-magnet:before {
    content: "\f076";
}
.icon-chevron-up:before {
    content: "\f077";
}
.icon-chevron-down:before {
    content: "\f078";
}
.icon-retweet:before {
    content: "\f079";
}
.icon-shopping-cart:before {
    content: "\f07a";
}
.icon-folder:before {
    content: "\f07b";
}
.icon-folder-open:before {
    content: "\f07c";
}
.icon-arrows-v:before {
    content: "\f07d";
}
.icon-arrows-h:before {
    content: "\f07e";
}
.icon-bar-chart:before {
    content: "\f080";
}
.icon------------------------------------------------------------------------------bar-chart-o:before {
    content: "\f080";
}
.icon-twitter-square:before {
    content: "\f081";
}
.icon-facebook-square:before {
    content: "\f082";
}
.icon-camera-retro:before {
    content: "\f083";
}
.icon-key:before {
    content: "\f084";
}
.icon-cogs:before {
    content: "\f085";
}
.icon------------------------------------------------------------------------------gears:before {
    content: "\f085";
}
.icon-comments:before {
    content: "\f086";
}
.icon-thumbs-o-up:before {
    content: "\f087";
}
.icon-thumbs-o-down:before {
    content: "\f088";
}
.icon-star-half:before {
    content: "\f089";
}
.icon-heart-o:before {
    content: "\f08a";
}
.icon-sign-out:before {
    content: "\f08b";
}
.icon-linkedin-square:before {
    content: "\f08c";
}
.icon-thumb-tack:before {
    content: "\f08d";
}
.icon-external-link:before {
    content: "\f08e";
}
.icon-sign-in:before {
    content: "\f090";
}
.icon-trophy:before {
    content: "\f091";
}
.icon-github-square:before {
    content: "\f092";
}
.icon-upload:before {
    content: "\f093";
}
.icon-lemon-o:before {
    content: "\f094";
}
.icon-phone:before {
    content: "\f095";
}
.icon-square-o:before {
    content: "\f096";
}
.icon-bookmark-o:before {
    content: "\f097";
}
.icon-phone-square:before {
    content: "\f098";
}
.icon-twitter:before {
    content: "\f099";
}
.icon-facebook:before {
    content: "\f09a";
}
.icon------------------------------------------------------------------------------facebook-f:before {
    content: "\f09a";
}
.icon-github:before {
    content: "\f09b";
}
.icon-unlock:before {
    content: "\f09c";
}
.icon-credit-card:before {
    content: "\f09d";
}
.icon-feed:before {
    content: "\f09e";
}
.icon------------------------------------------------------------------------------rss:before {
    content: "\f09e";
}
.icon-hdd-o:before {
    content: "\f0a0";
}
.icon-bullhorn:before {
    content: "\f0a1";
}
.icon-bell-o:before {
    content: "\f0a2";
}
.icon-certificate:before {
    content: "\f0a3";
}
.icon-hand-o-right:before {
    content: "\f0a4";
}
.icon-hand-o-left:before {
    content: "\f0a5";
}
.icon-hand-o-up:before {
    content: "\f0a6";
}
.icon-hand-o-down:before {
    content: "\f0a7";
}
.icon-arrow-circle-left:before {
    content: "\f0a8";
}
.icon-arrow-circle-right:before {
    content: "\f0a9";
}
.icon-arrow-circle-up:before {
    content: "\f0aa";
}
.icon-arrow-circle-down:before {
    content: "\f0ab";
}
.icon-globe:before {
    content: "\f0ac";
}
.icon-wrench:before {
    content: "\f0ad";
}
.icon-tasks:before {
    content: "\f0ae";
}
.icon-filter:before {
    content: "\f0b0";
}
.icon-briefcase:before {
    content: "\f0b1";
}
.icon-arrows-alt:before {
    content: "\f0b2";
}
.icon-group:before {
    content: "\f0c0";
}
.icon------------------------------------------------------------------------------users:before {
    content: "\f0c0";
}
.icon-chain:before {
    content: "\f0c1";
}
.icon------------------------------------------------------------------------------link:before {
    content: "\f0c1";
}
.icon-cloud:before {
    content: "\f0c2";
}
.icon-flask:before {
    content: "\f0c3";
}
.icon-cut:before {
    content: "\f0c4";
}
.icon------------------------------------------------------------------------------scissors:before {
    content: "\f0c4";
}
.icon-copy:before {
    content: "\f0c5";
}
.icon------------------------------------------------------------------------------files-o:before {
    content: "\f0c5";
}
.icon-paperclip:before {
    content: "\f0c6";
}
.icon-floppy-o:before {
    content: "\f0c7";
}
.icon------------------------------------------------------------------------------save:before {
    content: "\f0c7";
}
.icon-square:before {
    content: "\f0c8";
}
.icon-bars:before {
    content: "\f0c9";
}
.icon------------------------------------------------------------------------------navicon:before {
    content: "\f0c9";
}
.icon------------------------------------------------------------------------------reorder:before {
    content: "\f0c9";
}
.icon-list-ul:before {
    content: "\f0ca";
}
.icon-list-ol:before {
    content: "\f0cb";
}
.icon-strikethrough:before {
    content: "\f0cc";
}
.icon-underline:before {
    content: "\f0cd";
}
.icon-table:before {
    content: "\f0ce";
}
.icon-magic:before {
    content: "\f0d0";
}
.icon-truck:before {
    content: "\f0d1";
}
.icon-pinterest:before {
    content: "\f0d2";
}
.icon-pinterest-square:before {
    content: "\f0d3";
}
.icon-google-plus-square:before {
    content: "\f0d4";
}
.icon-google-plus:before {
    content: "\f0d5";
}
.icon-money:before {
    content: "\f0d6";
}
.icon-caret-down:before {
    content: "\f0d7";
}
.icon-caret-up:before {
    content: "\f0d8";
}
.icon-caret-left:before {
    content: "\f0d9";
}
.icon-caret-right:before {
    content: "\f0da";
}
.icon-columns:before {
    content: "\f0db";
}
.icon-sort:before {
    content: "\f0dc";
}
.icon------------------------------------------------------------------------------unsorted:before {
    content: "\f0dc";
}
.icon-sort-desc:before {
    content: "\f0dd";
}
.icon------------------------------------------------------------------------------sort-down:before {
    content: "\f0dd";
}
.icon-sort-asc:before {
    content: "\f0de";
}
.icon------------------------------------------------------------------------------sort-up:before {
    content: "\f0de";
}
.icon-envelope:before {
    content: "\f0e0";
}
.icon-linkedin:before {
    content: "\f0e1";
}
.icon-rotate-left:before {
    content: "\f0e2";
}
.icon------------------------------------------------------------------------------undo:before {
    content: "\f0e2";
}
.icon-gavel:before {
    content: "\f0e3";
}
.icon------------------------------------------------------------------------------legal:before {
    content: "\f0e3";
}
.icon-dashboard:before {
    content: "\f0e4";
}
.icon------------------------------------------------------------------------------tachometer:before {
    content: "\f0e4";
}
.icon-comment-o:before {
    content: "\f0e5";
}
.icon-comments-o:before {
    content: "\f0e6";
}
.icon-bolt:before {
    content: "\f0e7";
}
.icon------------------------------------------------------------------------------flash:before {
    content: "\f0e7";
}
.icon-sitemap:before {
    content: "\f0e8";
}
.icon-umbrella:before {
    content: "\f0e9";
}
.icon-clipboard:before {
    content: "\f0ea";
}
.icon------------------------------------------------------------------------------paste:before {
    content: "\f0ea";
}
.icon-lightbulb-o:before {
    content: "\f0eb";
}
.icon-exchange:before {
    content: "\f0ec";
}
.icon-cloud-download:before {
    content: "\f0ed";
}
.icon-cloud-upload:before {
    content: "\f0ee";
}
.icon-user-md:before {
    content: "\f0f0";
}
.icon-stethoscope:before {
    content: "\f0f1";
}
.icon-suitcase:before {
    content: "\f0f2";
}
.icon-bell:before {
    content: "\f0f3";
}
.icon-coffee:before {
    content: "\f0f4";
}
.icon-cutlery:before {
    content: "\f0f5";
}
.icon-file-text-o:before {
    content: "\f0f6";
}
.icon-building-o:before {
    content: "\f0f7";
}
.icon-hospital-o:before {
    content: "\f0f8";
}
.icon-ambulance:before {
    content: "\f0f9";
}
.icon-medkit:before {
    content: "\f0fa";
}
.icon-fighter-jet:before {
    content: "\f0fb";
}
.icon-beer:before {
    content: "\f0fc";
}
.icon-h-square:before {
    content: "\f0fd";
}
.icon-plus-square:before {
    content: "\f0fe";
}
.icon-angle-double-left:before {
    content: "\f100";
}
.icon-angle-double-right:before {
    content: "\f101";
}
.icon-angle-double-up:before {
    content: "\f102";
}
.icon-angle-double-down:before {
    content: "\f103";
}
.icon-angle-left:before {
    content: "\f104";
}
.icon-angle-right:before {
    content: "\f105";
}
.icon-angle-up:before {
    content: "\f106";
}
.icon-angle-down:before {
    content: "\f107";
}
.icon-desktop:before {
    content: "\f108";
}
.icon-laptop:before {
    content: "\f109";
}
.icon-tablet:before {
    content: "\f10a";
}
.icon-mobile:before {
    content: "\f10b";
}
.icon------------------------------------------------------------------------------mobile-phone:before {
    content: "\f10b";
}
.icon-circle-o:before {
    content: "\f10c";
}
.icon-quote-left:before {
    content: "\f10d";
}
.icon-quote-right:before {
    content: "\f10e";
}
.icon-spinner:before {
    content: "\f110";
}
.icon-circle:before {
    content: "\f111";
}
.icon-mail-reply:before {
    content: "\f112";
}
.icon------------------------------------------------------------------------------reply:before {
    content: "\f112";
}
.icon-github-alt:before {
    content: "\f113";
}
.icon-folder-o:before {
    content: "\f114";
}
.icon-folder-open-o:before {
    content: "\f115";
}
.icon-smile-o:before {
    content: "\f118";
}
.icon-frown-o:before {
    content: "\f119";
}
.icon-meh-o:before {
    content: "\f11a";
}
.icon-gamepad:before {
    content: "\f11b";
}
.icon-keyboard-o:before {
    content: "\f11c";
}
.icon-flag-o:before {
    content: "\f11d";
}
.icon-flag-checkered:before {
    content: "\f11e";
}
.icon-terminal:before {
    content: "\f120";
}
.icon-code:before {
    content: "\f121";
}
.icon-mail-reply-all:before {
    content: "\f122";
}
.icon------------------------------------------------------------------------------reply-all:before {
    content: "\f122";
}
.icon-star-half-empty:before {
    content: "\f123";
}
.icon------------------------------------------------------------------------------star-half-full:before {
    content: "\f123";
}
.icon------------------------------------------------------------------------------star-half-o:before {
    content: "\f123";
}
.icon-location-arrow:before {
    content: "\f124";
}
.icon-crop:before {
    content: "\f125";
}
.icon-code-fork:before {
    content: "\f126";
}
.icon-chain-broken:before {
    content: "\f127";
}
.icon------------------------------------------------------------------------------unlink:before {
    content: "\f127";
}
.icon-question:before {
    content: "\f128";
}
.icon-info:before {
    content: "\f129";
}
.icon-exclamation:before {
    content: "\f12a";
}
.icon-superscript:before {
    content: "\f12b";
}
.icon-subscript:before {
    content: "\f12c";
}
.icon-eraser:before {
    content: "\f12d";
}
.icon-puzzle-piece:before {
    content: "\f12e";
}
.icon-microphone:before {
    content: "\f130";
}
.icon-microphone-slash:before {
    content: "\f131";
}
.icon-shield:before {
    content: "\f132";
}
.icon-calendar-o:before {
    content: "\f133";
}
.icon-fire-extinguisher:before {
    content: "\f134";
}
.icon-rocket:before {
    content: "\f135";
}
.icon-maxcdn:before {
    content: "\f136";
}
.icon-chevron-circle-left:before {
    content: "\f137";
}
.icon-chevron-circle-right:before {
    content: "\f138";
}
.icon-chevron-circle-up:before {
    content: "\f139";
}
.icon-chevron-circle-down:before {
    content: "\f13a";
}
.icon-html5:before {
    content: "\f13b";
}
.icon-css3:before {
    content: "\f13c";
}
.icon-anchor:before {
    content: "\f13d";
}
.icon-unlock-alt:before {
    content: "\f13e";
}
.icon-bullseye:before {
    content: "\f140";
}
.icon-ellipsis-h:before {
    content: "\f141";
}
.icon-ellipsis-v:before {
    content: "\f142";
}
.icon-rss-square:before {
    content: "\f143";
}
.icon-play-circle:before {
    content: "\f144";
}
.icon-ticket:before {
    content: "\f145";
}
.icon-minus-square:before {
    content: "\f146";
}
.icon-minus-square-o:before {
    content: "\f147";
}
.icon-level-up:before {
    content: "\f148";
}
.icon-level-down:before {
    content: "\f149";
}
.icon-check-square:before {
    content: "\f14a";
}
.icon-pencil-square:before {
    content: "\f14b";
}
.icon-external-link-square:before {
    content: "\f14c";
}
.icon-share-square:before {
    content: "\f14d";
}
.icon-compass:before {
    content: "\f14e";
}
.icon-caret-square-o-down:before {
    content: "\f150";
}
.icon------------------------------------------------------------------------------toggle-down:before {
    content: "\f150";
}
.icon-caret-square-o-up:before {
    content: "\f151";
}
.icon------------------------------------------------------------------------------toggle-up:before {
    content: "\f151";
}
.icon-caret-square-o-right:before {
    content: "\f152";
}
.icon------------------------------------------------------------------------------toggle-right:before {
    content: "\f152";
}
.icon-eur:before {
    content: "\f153";
}
.icon------------------------------------------------------------------------------euro:before {
    content: "\f153";
}
.icon-gbp:before {
    content: "\f154";
}
.icon-dollar:before {
    content: "\f155";
}
.icon------------------------------------------------------------------------------usd:before {
    content: "\f155";
}
.icon-inr:before {
    content: "\f156";
}
.icon------------------------------------------------------------------------------rupee:before {
    content: "\f156";
}
.icon-cny:before {
    content: "\f157";
}
.icon------------------------------------------------------------------------------jpy:before {
    content: "\f157";
}
.icon------------------------------------------------------------------------------rmb:before {
    content: "\f157";
}
.icon------------------------------------------------------------------------------yen:before {
    content: "\f157";
}
.icon-rouble:before {
    content: "\f158";
}
.icon------------------------------------------------------------------------------rub:before {
    content: "\f158";
}
.icon------------------------------------------------------------------------------ruble:before {
    content: "\f158";
}
.icon-krw:before {
    content: "\f159";
}
.icon------------------------------------------------------------------------------won:before {
    content: "\f159";
}
.icon-bitcoin:before {
    content: "\f15a";
}
.icon------------------------------------------------------------------------------btc:before {
    content: "\f15a";
}
.icon-file:before {
    content: "\f15b";
}
.icon-file-text:before {
    content: "\f15c";
}
.icon-sort-alpha-asc:before {
    content: "\f15d";
}
.icon-sort-alpha-desc:before {
    content: "\f15e";
}
.icon-sort-amount-asc:before {
    content: "\f160";
}
.icon-sort-amount-desc:before {
    content: "\f161";
}
.icon-sort-numeric-asc:before {
    content: "\f162";
}
.icon-sort-numeric-desc:before {
    content: "\f163";
}
.icon-thumbs-up:before {
    content: "\f164";
}
.icon-thumbs-down:before {
    content: "\f165";
}
.icon-youtube-square:before {
    content: "\f166";
}
.icon-youtube:before {
    content: "\f167";
}
.icon-xing:before {
    content: "\f168";
}
.icon-xing-square:before {
    content: "\f169";
}
.icon-youtube-play:before {
    content: "\f16a";
}
.icon-dropbox:before {
    content: "\f16b";
}
.icon-stack-overflow:before {
    content: "\f16c";
}
.icon-instagram:before {
    content: "\f16d";
}
.icon-flickr:before {
    content: "\f16e";
}
.icon-adn:before {
    content: "\f170";
}
.icon-bitbucket:before {
    content: "\f171";
}
.icon-bitbucket-square:before {
    content: "\f172";
}
.icon-tumblr:before {
    content: "\f173";
}
.icon-tumblr-square:before {
    content: "\f174";
}
.icon-long-arrow-down:before {
    content: "\f175";
}
.icon-long-arrow-up:before {
    content: "\f176";
}
.icon-long-arrow-left:before {
    content: "\f177";
}
.icon-long-arrow-right:before {
    content: "\f178";
}
.icon-apple:before {
    content: "\f179";
}
.icon-windows:before {
    content: "\f17a";
}
.icon-android:before {
    content: "\f17b";
}
.icon-linux:before {
    content: "\f17c";
}
.icon-dribbble:before {
    content: "\f17d";
}
.icon-skype:before {
    content: "\f17e";
}
.icon-foursquare:before {
    content: "\f180";
}
.icon-trello:before {
    content: "\f181";
}
.icon-female:before {
    content: "\f182";
}
.icon-male:before {
    content: "\f183";
}
.icon-gittip:before {
    content: "\f184";
}
.icon------------------------------------------------------------------------------gratipay:before {
    content: "\f184";
}
.icon-sun-o:before {
    content: "\f185";
}
.icon-moon-o:before {
    content: "\f186";
}
.icon-archive:before {
    content: "\f187";
}
.icon-bug:before {
    content: "\f188";
}
.icon-vk:before {
    content: "\f189";
}
.icon-weibo:before {
    content: "\f18a";
}
.icon-renren:before {
    content: "\f18b";
}
.icon-pagelines:before {
    content: "\f18c";
}
.icon-stack-exchange:before {
    content: "\f18d";
}
.icon-arrow-circle-o-right:before {
    content: "\f18e";
}
.icon-arrow-circle-o-left:before {
    content: "\f190";
}
.icon-caret-square-o-left:before {
    content: "\f191";
}
.icon------------------------------------------------------------------------------toggle-left:before {
    content: "\f191";
}
.icon-dot-circle-o:before {
    content: "\f192";
}
.icon-wheelchair:before {
    content: "\f193";
}
.icon-vimeo-square:before {
    content: "\f194";
}
.icon-try:before {
    content: "\f195";
}
.icon------------------------------------------------------------------------------turkish-lira:before {
    content: "\f195";
}
.icon-plus-square-o:before {
    content: "\f196";
}
.icon-space-shuttle:before {
    content: "\f197";
}
.icon-slack:before {
    content: "\f198";
}
.icon-envelope-square:before {
    content: "\f199";
}
.icon-wordpress:before {
    content: "\f19a";
}
.icon-openid:before {
    content: "\f19b";
}
.icon-bank:before {
    content: "\f19c";
}
.icon------------------------------------------------------------------------------institution:before {
    content: "\f19c";
}
.icon------------------------------------------------------------------------------university:before {
    content: "\f19c";
}
.icon-graduation-cap:before {
    content: "\f19d";
}
.icon------------------------------------------------------------------------------mortar-board:before {
    content: "\f19d";
}
.icon-yahoo:before {
    content: "\f19e";
}
.icon-google:before {
    content: "\f1a0";
}
.icon-reddit:before {
    content: "\f1a1";
}
.icon-reddit-square:before {
    content: "\f1a2";
}
.icon-stumbleupon-circle:before {
    content: "\f1a3";
}
.icon-stumbleupon:before {
    content: "\f1a4";
}
.icon-delicious:before {
    content: "\f1a5";
}
.icon-digg:before {
    content: "\f1a6";
}
.icon-pied-piper:before {
    content: "\f1a7";
}
.icon-pied-piper-alt:before {
    content: "\f1a8";
}
.icon-drupal:before {
    content: "\f1a9";
}
.icon-joomla:before {
    content: "\f1aa";
}
.icon-language:before {
    content: "\f1ab";
}
.icon-fax:before {
    content: "\f1ac";
}
.icon-building:before {
    content: "\f1ad";
}
.icon-child:before {
    content: "\f1ae";
}
.icon-paw:before {
    content: "\f1b0";
}
.icon-spoon:before {
    content: "\f1b1";
}
.icon-cube:before {
    content: "\f1b2";
}
.icon-cubes:before {
    content: "\f1b3";
}
.icon-behance:before {
    content: "\f1b4";
}
.icon-behance-square:before {
    content: "\f1b5";
}
.icon-steam:before {
    content: "\f1b6";
}
.icon-steam-square:before {
    content: "\f1b7";
}
.icon-recycle:before {
    content: "\f1b8";
}
.icon-automobile:before {
    content: "\f1b9";
}
.icon------------------------------------------------------------------------------car:before {
    content: "\f1b9";
}
.icon-cab:before {
    content: "\f1ba";
}
.icon------------------------------------------------------------------------------taxi:before {
    content: "\f1ba";
}
.icon-tree:before {
    content: "\f1bb";
}
.icon-spotify:before {
    content: "\f1bc";
}
.icon-deviantart:before {
    content: "\f1bd";
}
.icon-soundcloud:before {
    content: "\f1be";
}
.icon-database:before {
    content: "\f1c0";
}
.icon-file-pdf-o:before {
    content: "\f1c1";
}
.icon-file-word-o:before {
    content: "\f1c2";
}
.icon-file-excel-o:before {
    content: "\f1c3";
}
.icon-file-powerpoint-o:before {
    content: "\f1c4";
}
.icon-file-image-o:before {
    content: "\f1c5";
}
.icon------------------------------------------------------------------------------file-photo-o:before {
    content: "\f1c5";
}
.icon------------------------------------------------------------------------------file-picture-o:before {
    content: "\f1c5";
}
.icon-file-archive-o:before {
    content: "\f1c6";
}
.icon------------------------------------------------------------------------------file-zip-o:before {
    content: "\f1c6";
}
.icon-file-audio-o:before {
    content: "\f1c7";
}
.icon------------------------------------------------------------------------------file-sound-o:before {
    content: "\f1c7";
}
.icon-file-movie-o:before {
    content: "\f1c8";
}
.icon------------------------------------------------------------------------------file-video-o:before {
    content: "\f1c8";
}
.icon-file-code-o:before {
    content: "\f1c9";
}
.icon-vine:before {
    content: "\f1ca";
}
.icon-codepen:before {
    content: "\f1cb";
}
.icon-jsfiddle:before {
    content: "\f1cc";
}
.icon-life-bouy:before {
    content: "\f1cd";
}
.icon------------------------------------------------------------------------------life-buoy:before {
    content: "\f1cd";
}
.icon------------------------------------------------------------------------------life-ring:before {
    content: "\f1cd";
}
.icon------------------------------------------------------------------------------life-saver:before {
    content: "\f1cd";
}
.icon------------------------------------------------------------------------------support:before {
    content: "\f1cd";
}
.icon-circle-o-notch:before {
    content: "\f1ce";
}
.icon-ra:before {
    content: "\f1d0";
}
.icon------------------------------------------------------------------------------rebel:before {
    content: "\f1d0";
}
.icon-empire:before {
    content: "\f1d1";
}
.icon------------------------------------------------------------------------------ge:before {
    content: "\f1d1";
}
.icon-git-square:before {
    content: "\f1d2";
}
.icon-git:before {
    content: "\f1d3";
}
.icon-hacker-news:before {
    content: "\f1d4";
}
.icon------------------------------------------------------------------------------y-combinator-square:before {
    content: "\f1d4";
}
.icon------------------------------------------------------------------------------yc-square:before {
    content: "\f1d4";
}
.icon-tencent-weibo:before {
    content: "\f1d5";
}
.icon-qq:before {
    content: "\f1d6";
}
.icon-wechat:before {
    content: "\f1d7";
}
.icon------------------------------------------------------------------------------weixin:before {
    content: "\f1d7";
}
.icon-paper-plane:before {
    content: "\f1d8";
}
.icon------------------------------------------------------------------------------send:before {
    content: "\f1d8";
}
.icon-paper-plane-o:before {
    content: "\f1d9";
}
.icon------------------------------------------------------------------------------send-o:before {
    content: "\f1d9";
}
.icon-history:before {
    content: "\f1da";
}
.icon-circle-thin:before {
    content: "\f1db";
}
.icon-header:before {
    content: "\f1dc";
}
.icon-paragraph:before {
    content: "\f1dd";
}
.icon-sliders:before {
    content: "\f1de";
}
.icon-share-alt:before {
    content: "\f1e0";
}
.icon-share-alt-square:before {
    content: "\f1e1";
}
.icon-bomb:before {
    content: "\f1e2";
}
.icon-futbol-o:before {
    content: "\f1e3";
}
.icon------------------------------------------------------------------------------soccer-ball-o:before {
    content: "\f1e3";
}
.icon-tty:before {
    content: "\f1e4";
}
.icon-binoculars:before {
    content: "\f1e5";
}
.icon-plug:before {
    content: "\f1e6";
}
.icon-slideshare:before {
    content: "\f1e7";
}
.icon-twitch:before {
    content: "\f1e8";
}
.icon-yelp:before {
    content: "\f1e9";
}
.icon-newspaper-o:before {
    content: "\f1ea";
}
.icon-wifi:before {
    content: "\f1eb";
}
.icon-calculator:before {
    content: "\f1ec";
}
.icon-paypal:before {
    content: "\f1ed";
}
.icon-google-wallet:before {
    content: "\f1ee";
}
.icon-cc-visa:before {
    content: "\f1f0";
}
.icon-cc-mastercard:before {
    content: "\f1f1";
}
.icon-cc-discover:before {
    content: "\f1f2";
}
.icon-cc-amex:before {
    content: "\f1f3";
}
.icon-cc-paypal:before {
    content: "\f1f4";
}
.icon-cc-stripe:before {
    content: "\f1f5";
}
.icon-bell-slash:before {
    content: "\f1f6";
}
.icon-bell-slash-o:before {
    content: "\f1f7";
}
.icon-trash:before {
    content: "\f1f8";
}
.icon-copyright:before {
    content: "\f1f9";
}
.icon-at:before {
    content: "\f1fa";
}
.icon-eyedropper:before {
    content: "\f1fb";
}
.icon-paint-brush:before {
    content: "\f1fc";
}
.icon-birthday-cake:before {
    content: "\f1fd";
}
.icon-area-chart:before {
    content: "\f1fe";
}
.icon-pie-chart:before {
    content: "\f200";
}
.icon-line-chart:before {
    content: "\f201";
}
.icon-lastfm:before {
    content: "\f202";
}
.icon-lastfm-square:before {
    content: "\f203";
}
.icon-toggle-off:before {
    content: "\f204";
}
.icon-toggle-on:before {
    content: "\f205";
}
.icon-bicycle:before {
    content: "\f206";
}
.icon-bus:before {
    content: "\f207";
}
.icon-ioxhost:before {
    content: "\f208";
}
.icon-angellist:before {
    content: "\f209";
}
.icon-cc:before {
    content: "\f20a";
}
.icon-ils:before {
    content: "\f20b";
}
.icon------------------------------------------------------------------------------shekel:before {
    content: "\f20b";
}
.icon------------------------------------------------------------------------------sheqel:before {
    content: "\f20b";
}
.icon-meanpath:before {
    content: "\f20c";
}
.icon-buysellads:before {
    content: "\f20d";
}
.icon-connectdevelop:before {
    content: "\f20e";
}
.icon-dashcube:before {
    content: "\f210";
}
.icon-forumbee:before {
    content: "\f211";
}
.icon-leanpub:before {
    content: "\f212";
}
.icon-sellsy:before {
    content: "\f213";
}
.icon-shirtsinbulk:before {
    content: "\f214";
}
.icon-simplybuilt:before {
    content: "\f215";
}
.icon-skyatlas:before {
    content: "\f216";
}
.icon-cart-plus:before {
    content: "\f217";
}
.icon-cart-arrow-down:before {
    content: "\f218";
}
.icon-diamond:before {
    content: "\f219";
}
.icon-ship:before {
    content: "\f21a";
}
.icon-user-secret:before {
    content: "\f21b";
}
.icon-motorcycle:before {
    content: "\f21c";
}
.icon-street-view:before {
    content: "\f21d";
}
.icon-heartbeat:before {
    content: "\f21e";
}
.icon-venus:before {
    content: "\f221";
}
.icon-mars:before {
    content: "\f222";
}
.icon-mercury:before {
    content: "\f223";
}
.icon-intersex:before {
    content: "\f224";
}
.icon------------------------------------------------------------------------------transgender:before {
    content: "\f224";
}
.icon-transgender-alt:before {
    content: "\f225";
}
.icon-venus-double:before {
    content: "\f226";
}
.icon-mars-double:before {
    content: "\f227";
}
.icon-venus-mars:before {
    content: "\f228";
}
.icon-mars-stroke:before {
    content: "\f229";
}
.icon-mars-stroke-v:before {
    content: "\f22a";
}
.icon-mars-stroke-h:before {
    content: "\f22b";
}
.icon-neuter:before {
    content: "\f22c";
}
.icon-genderless:before {
    content: "\f22d";
}
.icon-facebook-official:before {
    content: "\f230";
}
.icon-pinterest-p:before {
    content: "\f231";
}
.icon-whatsapp:before {
    content: "\f232";
}
.icon-server:before {
    content: "\f233";
}
.icon-user-plus:before {
    content: "\f234";
}
.icon-user-times:before {
    content: "\f235";
}
.icon-bed:before {
    content: "\f236";
}
.icon------------------------------------------------------------------------------hotel:before {
    content: "\f236";
}
.icon-viacoin:before {
    content: "\f237";
}
.icon-train:before {
    content: "\f238";
}
.icon-subway:before {
    content: "\f239";
}
.icon-medium:before {
    content: "\f23a";
}
.icon-y-combinator:before {
    content: "\f23b";
}
.icon------------------------------------------------------------------------------yc:before {
    content: "\f23b";
}
.icon-optin-monster:before {
    content: "\f23c";
}
.icon-opencart:before {
    content: "\f23d";
}
.icon-expeditedssl:before {
    content: "\f23e";
}
.icon-battery-4:before {
    content: "\f240";
}
.icon------------------------------------------------------------------------------battery-full:before {
    content: "\f240";
}
.icon-battery-3:before {
    content: "\f241";
}
.icon------------------------------------------------------------------------------battery-three-quarters:before {
    content: "\f241";
}
.icon-battery-2:before {
    content: "\f242";
}
.icon------------------------------------------------------------------------------battery-half:before {
    content: "\f242";
}
.icon-battery-1:before {
    content: "\f243";
}
.icon------------------------------------------------------------------------------battery-quarter:before {
    content: "\f243";
}
.icon-battery-0:before {
    content: "\f244";
}
.icon------------------------------------------------------------------------------battery-empty:before {
    content: "\f244";
}
.icon-mouse-pointer:before {
    content: "\f245";
}
.icon-i-cursor:before {
    content: "\f246";
}
.icon-object-group:before {
    content: "\f247";
}
.icon-object-ungroup:before {
    content: "\f248";
}
.icon-sticky-note:before {
    content: "\f249";
}
.icon-sticky-note-o:before {
    content: "\f24a";
}
.icon-cc-jcb:before {
    content: "\f24b";
}
.icon-cc-diners-club:before {
    content: "\f24c";
}
.icon-clone:before {
    content: "\f24d";
}
.icon-balance-scale:before {
    content: "\f24e";
}
.icon-hourglass-o:before {
    content: "\f250";
}
.icon-hourglass-1:before {
    content: "\f251";
}
.icon------------------------------------------------------------------------------hourglass-start:before {
    content: "\f251";
}
.icon-hourglass-2:before {
    content: "\f252";
}
.icon------------------------------------------------------------------------------hourglass-half:before {
    content: "\f252";
}
.icon-hourglass-3:before {
    content: "\f253";
}
.icon------------------------------------------------------------------------------hourglass-end:before {
    content: "\f253";
}
.icon-hourglass:before {
    content: "\f254";
}
.icon-hand-grab-o:before {
    content: "\f255";
}
.icon------------------------------------------------------------------------------hand-rock-o:before {
    content: "\f255";
}
.icon-hand-paper-o:before {
    content: "\f256";
}
.icon------------------------------------------------------------------------------hand-stop-o:before {
    content: "\f256";
}
.icon-hand-scissors-o:before {
    content: "\f257";
}
.icon-hand-lizard-o:before {
    content: "\f258";
}
.icon-hand-spock-o:before {
    content: "\f259";
}
.icon-hand-pointer-o:before {
    content: "\f25a";
}
.icon-hand-peace-o:before {
    content: "\f25b";
}
.icon-trademark:before {
    content: "\f25c";
}
.icon-registered:before {
    content: "\f25d";
}
.icon-creative-commons:before {
    content: "\f25e";
}
.icon-gg:before {
    content: "\f260";
}
.icon-gg-circle:before {
    content: "\f261";
}
.icon-tripadvisor:before {
    content: "\f262";
}
.icon-odnoklassniki:before {
    content: "\f263";
}
.icon-odnoklassniki-square:before {
    content: "\f264";
}
.icon-get-pocket:before {
    content: "\f265";
}
.icon-wikipedia-w:before {
    content: "\f266";
}
.icon-safari:before {
    content: "\f267";
}
.icon-chrome:before {
    content: "\f268";
}
.icon-firefox:before {
    content: "\f269";
}
.icon-opera:before {
    content: "\f26a";
}
.icon-internet-explorer:before {
    content: "\f26b";
}
.icon-television:before {
    content: "\f26c";
}
.icon------------------------------------------------------------------------------tv:before {
    content: "\f26c";
}
.icon-contao:before {
    content: "\f26d";
}
.icon-500px:before {
    content: "\f26e";
}
.icon-amazon:before {
    content: "\f270";
}
.icon-calendar-plus-o:before {
    content: "\f271";
}
.icon-calendar-minus-o:before {
    content: "\f272";
}
.icon-calendar-times-o:before {
    content: "\f273";
}
.icon-calendar-check-o:before {
    content: "\f274";
}
.icon-industry:before {
    content: "\f275";
}
.icon-map-pin:before {
    content: "\f276";
}
.icon-map-signs:before {
    content: "\f277";
}
.icon-map-o:before {
    content: "\f278";
}
.icon-map:before {
    content: "\f279";
}
.icon-commenting:before {
    content: "\f27a";
}
.icon-commenting-o:before {
    content: "\f27b";
}
.icon-houzz:before {
    content: "\f27c";
}
.icon-vimeo:before {
    content: "\f27d";
}
.icon-black-tie:before {
    content: "\f27e";
}
.icon-fonticons:before {
    content: "\f280";
}
.icon-reddit-alien:before {
    content: "\f281";
}
.icon-edge:before {
    content: "\f282";
}
.icon-credit-card-alt:before {
    content: "\f283";
}
.icon-codiepie:before {
    content: "\f284";
}
.icon-modx:before {
    content: "\f285";
}
.icon-fort-awesome:before {
    content: "\f286";
}
.icon-usb:before {
    content: "\f287";
}
.icon-product-hunt:before {
    content: "\f288";
}
.icon-mixcloud:before {
    content: "\f289";
}
.icon-scribd:before {
    content: "\f28a";
}
.icon-pause-circle:before {
    content: "\f28b";
}
.icon-pause-circle-o:before {
    content: "\f28c";
}
.icon-stop-circle:before {
    content: "\f28d";
}
.icon-stop-circle-o:before {
    content: "\f28e";
}
.icon-shopping-bag:before {
    content: "\f290";
}
.icon-shopping-basket:before {
    content: "\f291";
}
.icon-hashtag:before {
    content: "\f292";
}
.icon-bluetooth:before {
    content: "\f293";
}
.icon-bluetooth-b:before {
    content: "\f294";
}
.icon-percent:before {
    content: "\f295";
}

